# Web scraping using pandas

pandas provides a `read_html` function which is convenient to parse tables from web pages. As an example, we will use the https://en.wikipedia.org/wiki/List_of_ICAO_aircraft_type_designators#cite_note-ICAOcode-2 to get IATA and ICAO codes for aircrats.

In [1]:
import pandas as pd

In [2]:
out = pd.read_html("https://en.wikipedia.org/wiki/List_of_ICAO_aircraft_type_designators#cite_note-ICAOcode-2")

This returns a list of all tables found in the page:

In [3]:
print type(out)

<type 'list'>

Each item in this list is a dataframe:

In [4]:
out[0].head()

              0          1                      2
0  ICAO Code[2]  IATA Code                  Model
1          A124        A4F  Antonov AN-124 Ruslan
2          A140        A40         Antonov AN-140
3          A148        A81         Antonov An-148
4          A158        A58         Antonov An-158

We can see that first row holds labels of columns, we can fix this easilly:

In [5]:
df = out[0].drop(axis=0, labels=0)
df.columns = ["ICAO", "IATA", "Fullname"]

In [6]:
df.head()

   ICAO IATA               Fullname
1  A124  A4F  Antonov AN-124 Ruslan
2  A140  A40         Antonov AN-140
3  A148  A81         Antonov An-148
4  A158  A58         Antonov An-158
5  A19N  319         Airbus A319neo

We can clean the dataset by removing duplicates (if any):

In [7]:
df = df[~df.duplicated()]

Split manufacturer from model:

In [8]:
def split(row):
    series = row.copy()
    fields = series.Fullname.split()
    try:
        field2 = fields[2]
    except IndexError:
        field2 = None
    try:
        field3 = fields[3]
    except IndexError:
        field3 = None
    if series.Fullname == "Launch - Boat":
        series["Manufacturer"] = u"Launch"
        series["Model"] = u"Boat"
    elif series.Fullname == "Road Feeder Service - Cargo Truck":
        series["Manufacturer"] = u"Road Feeder Service"
        series["Model"] = u"Cargo Truck"
    elif series.Fullname == "Concorde":
        series["Manufacturer"] = u"Aerospatiale"
        series["Model"] = u"Concorde"
    elif series.Fullname == "EV-97 EuroStar / EV-97 Harmony":
        series["Manufacturer"] = u"Evektor-Aerotechnik"
        series["Model"] = u"EV-97 EuroStar / EV-97 Harmony"
    elif series.Fullname == "Evektor SportStar":
        series["Manufacturer"] = u"Evektor-Aerotechnik"
        series["Model"] = u"SportStar"
    elif series.Fullname == "Gulfstream Aerospace G-159 Gulfstream I":
        series["Manufacturer"] = u"Grumman"
        series["Model"] = u"G-159 Gulfstream I"
    elif fields[0] == "Pipistrel":
        series["Manufacturer"] = u"Pipistrel"
        series["Model"] = fields[1].rstrip('01234569789')
    elif len(fields) == 1:
        series["Manufacturer"] = series.Fullname
        series["Model"] = series.Fullname
    elif field3 in ["Siddeley)"]:
        series["Manufacturer"] = " ".join(fields[0:4])
        series["Model"] = " ".join(fields[4:])
    elif field2 in ["Factories", "Aviation)", "IPTN", "Mystere)", "Canada", "Industries", "(BAC)"]:
        series["Manufacturer"] = u" ".join(fields[0:3])
        series["Model"] = u" ".join(fields[3:])
    elif fields[1] in ["Industrie", "(Aero)", "(Aerospatiale)", "Aerospace", "(BAC)", "Britten-Norman", 
                       "Dornier", "Havilland", "Siddeley", "Douglas", "(MBB)", "Helicopters", "(Nord)", 
                       "(Swearingen)", "Yunshuji", "Ultralight", "Rocket"]:
        series["Manufacturer"] = u" ".join(fields[0:2])
        series["Model"] = u" ".join(fields[2:])
    elif fields[0] in ["Fokker", "BAe", "Airbus", "Boeing", "Antonov", "Agusta", "Ayres", "Avro", 
                       "Aerospatiale/Alenia", "Beechcraft", "Bell", "Canadair", "Cessna", "Convair", 
                       "Curtiss", "Douglas", "Embraer", "Eurocopter", "Fairchild", "Grumman", "Helio",
                       "Ilyushin", "Junkers", "Lockheed", "LET", "Gates", "MIL", "Mitsubishi", "Piper",
                       "Pilatus", "Partenavia", "Saab", "Sikorsky", "Shorts", "Aerospatiale/BAC", 
                       "Sukhoi", "Tupolev", "Vickers", "Yakovlev", "NAMC", "Beechcfrat", "Aerospatiale", 
                       "ICON", "Aeroprakt", "Robin", "Bombardier", "Beriev", "COMAC", "CASA/IPTN", 
                       "Tecnam", "Dassault", "Gulfstream", "Honda", "Learjet", "Mil", "Pipistrel", 
                       "Reims-Cessna", "Socata"]:
        series["Manufacturer"] = fields[0]
        series["Model"] = u" ".join(fields[1:])
    else:
        series["Manufacturer"] = series.Fullname
        series["Model"] = series.Fullname
    series.drop(labels="Fullname", inplace=True)
    return series

In [9]:
df2 = df.apply(split, axis=1)

And now let's map manufacturer names:

In [10]:
df2.Manufacturer.replace({u"BAe": u"British Aerospace",
                          u"British Aerospace (BAC)": u"British Aerospace",
                          u"Airbus Industrie": u"Airbus", 
                          u"Gulfstream/Rockwell (Aero)": u"Gulfstream/Rockwell",
                          u"Gulfstream/Rockwell": u"Gulfstream/Rockwell",
                          u"Eurocopter (Aerospatiale)": u"Eurocopter",
                          u"Eurocopter (MBB)": u"Eurocopter", 
                          u"Beechcfrat": u"Beechcraft", 
                          u"Aerospatiale (Sud Aviation)": u"Aerospatiale",
                          u"Aerospatiale (Nord)": u"Aerospatiale",
                          u"Aerospatiale/Alenia": u"ATR",
                          u"CASA / IPTN": u"CASA/IPTN",
                          u"Dassault (Breguet Mystere)": u"Dassault",
                          u"MIL": u"Mil",
                          u"De Havilland Canada": u"De Havilland"}, inplace=True)

In [11]:
manuf = df2.Manufacturer.unique()
manuf.sort()
print manuf

[u'ATR' u'Aeroprakt' u'Aerospatiale' u'Airbus' u'Antonov' u'Avro'
 u'Beechcraft' u'Bell' u'Beriev' u'Boeing' u'Bombardier'
 u'British Aerospace' u'CASA/IPTN' u'COMAC' u'Canadair' u'Cessna'
 u'Convair' u'Curtiss' u'Dassault' u'De Havilland' u'Douglas' u'Embraer'
 u'Eurocopter' u'Evektor-Aerotechnik' u'Fairchild Dornier' u'Fokker'
 u'Government Aircraft Factories' u'Grumman' u'Gulfstream'
 u'Gulfstream/Rockwell' u'Harbin Yunshuji' u'Hawker Siddeley' u'Honda'
 u'ICON' u'Ilyushin' u'Israel Aircraft Industries' u'Junkers' u'LET'
 u'Learjet' u'Lockheed' u'MD Helicopters' u'McDonnell Douglas' u'Mil'
 u'Mitsubishi' u'NAMC' u'Partenavia' u'Pilatus' u'Pilatus Britten-Norman'
 u'Piper' u'Pipistrel' u'Reims-Cessna' u'Robin' u'Saab' u'Shorts'
 u'Sikorsky' u'Socata' u'Sukhoi' u'TL Ultralight' u'Team Rocket' u'Tecnam'
 u'Tupolev' u'Yakovlev']

In [12]:
models = df2.Model.unique()
models.sort()
print models

[u'100' u'1124 Westwind'
 u'125 series / Hawker/Raytheon 700/800/800XP/850/900'
 u'125-1000 series / Hawker/Raytheon 1000' u'146-100' u'146-200'
 u'146-300' u'152' u'162' u'170' u'172' u'172 Cutlass RG'
 u'175 (long wing)' u'175 (short wing)' u'177 Cardinal RG' u'182 Skylane'
 u'190' u'1900' u'195' u'2000' u'208 Caravan' u'210 Centurion' u'212'
 u'212 Aviocar' u'262' u'328JET' u'35 / 36 / C-21A' u'410' u'412' u'415'
 u'429' u'50' u'60' u'70' u'707' u'717' u'720B' u'727-100' u'727-200'
 u'737 MAX 10' u'737 MAX 7' u'737 MAX 8' u'737 MAX 9' u'737-200'
 u'737-300' u'737-400' u'737-500' u'737-600' u'737-700' u'737-800'
 u'737-900' u'747 LCF Dreamlifter' u'747-100' u'747-200' u'747-300'
 u'747-400' u'747-8' u'747SP' u'747SR' u'757-200' u'757-300' u'767-200'
 u'767-300' u'767-400' u'777-200 / Boeing 777-200ER'
 u'777-200LR / Boeing 777F' u'777-300' u'777-300ER' u'777-8' u'777-9'
 u'787-10' u'787-8' u'787-9' u'A-22 Foxbat / A-22 Valor / A-22 Vision'
 u'A300' u'A300-600' u'A300-600ST Beluga Freighter' u'A310' u'A318'
 u'A319' u'A319neo' u'A320' u'A320neo' u'A321' u'A321neo' u'A330-200'
 u'A330-300' u'A330-800neo' u'A330-900neo' u'A340-200' u'A340-300'
 u'A340-500' u'A340-600' u'A350-1000' u'A350-900' u'A5' u'AN-12'
 u'AN-124 Ruslan' u'AN-140' u'AN-24' u'AN-26' u'AN-28' u'AN-30' u'AN-32'
 u'AN-72 / AN-74' u'AS332 Super Puma'
 u'AS350 \xc9cureuil / AS355 Ecureuil 2 / AS550 Fennec' u'ATL' u'ATP'
 u'ATR 42-300 / 320' u'ATR 42-500' u'ATR 42-600' u'ATR 72'
 u'ATR 72-200 series' u'ATR 72-500' u'ATR 72-600' u'An-148' u'An-158'
 u'An-225 Mriya' u'BD-100 Challenger 300' u'BD-700 Global 5000'
 u'BN-2A Mk III Trislander' u'BN-2A/B Islander' u'Baron / 55 Baron'
 u'Baron / 58 Baron' u'Be-200 Altair' u'Bo.105' u'C-46 Commando' u'C-919'
 u'CL-44' u'CN-235' u'CS100' u'CS300' u'CV-240 & -440'
 u'CV-580, Convair CV-600, Convair CV-640' u'Challenger' u'Citation CJ2'
 u'Citation CJ3' u'Citation CJ4' u'Citation Excel' u'Citation I'
 u'Citation II' u'Citation III, VI, VII' u'Citation Mustang'
 u'Citation Sovereign' u'Citation V' u'Citation X' u'CitationJet'
 u'Commander' u'Concorde' u'DC-10' u'DC-3' u'DC-6' u'DC-8-50' u'DC-8-62'
 u'DC-8-72' u'DC-9-10' u'DC-9-20' u'DC-9-30' u'DC-9-40' u'DC-9-50'
 u'DH.104 Dove' u'DH.114 Heron' u'DHC-2 Beaver' u'DHC-2 Turbo-Beaver'
 u'DHC-3 Otter' u'DHC-4 Caribou' u'DHC-5 Buffalo' u'DHC-6 Twin Otter'
 u'DHC-7 Dash 7' u'DHC-8-100 Dash 8 / 8Q' u'DHC-8-200 Dash 8 / 8Q'
 u'DHC-8-300 Dash 8 / 8Q' u'DHC-8-400 Dash 8Q' u'Do.228' u'Do.328'
 u'EC120 Colibri / Harbin HC120' u'EC135 / EC635' u'EC145'
 u'EC225 Super Puma' u'EMB 110 Bandeirante' u'EMB 120 Brasilia'
 u'EV-97 EuroStar / EV-97 Harmony' u'F1' u'F27 Friendship'
 u'F28 Fellowship' u'F406 Caravan II' u'Falcon 2000' u'Falcon 7X'
 u'Falcon 900' u'G-159 Gulfstream I' u'G-21 Goose' u'G-73 Turbo Mallard'
 u'G280' u'G650' u'Global Express / Raytheon Sentinel' u'HA-420'
 u'HR200/R2000 series, Alpha160A' u'HS 748' u'IL114' u'IL18' u'IL62'
 u'IL76' u'IL86' u'IL96' u'IV' u'Jetstream 31' u'Jetstream 32'
 u'Jetstream 41' u'Ju52/3M' u'L-1011 Tristar'
 u'L-1049 Super Constellation' u'L-182 / 282 / 382 (L-100) Hercules'
 u'L-188 Electra' u'Legacy 450' u'Legacy 600 / Legacy 650' u'Lineage 1000'
 u'MD-11' u'MD-81' u'MD-82' u'MD-83' u'MD-87' u'MD-88' u'MD-90'
 u'MD900 Explorer' u'Mi-24 / Mi-25 / Mi-35'
 u'Mi-8 / Mi-17 / Mi-171 / Mil-172' u'Mu-2' u'N22B / N24A Nomad'
 u'One Eleven' u'P.68' u'P2006T' u'P92 Echo / P92 Eaglet / P92 SeaSky'
 u'PA-28 (above 200 hp)' u'PA-28 (up to 180 hp)' u'PA-31 Navajo'
 u'PA-44 Seminole' u'PA-46' u'PC-12' u'PC-6 Turbo Porter' u'Phenom 100'
 u'Phenom 300' u'RJ100' u'RJ135' u'RJ140' u'RJ145' u'RJ70' u'RJ85'
 u'Regional Jet 100' u'Regional Jet 1000' u'Regional Jet 200'
 u'Regional Jet 700' u'Regional Jet 900' u'S-58T' u'S-61' u'S-76' u'S-92'
 u'SA365C / SA365N Dauphin 2' u'SC-5 Belfast' u'SC-7 Skyvan' u'SD.330'
 u'SD.360' u'SF340A/B' u'SN.601 Corvette' u'Se.210 Caravelle' u'Sinus[3]'
 u'SportStar' u'Superjet 100-95' u'TB-20 Trinidad'
 u'TL-96 Star / TL-2000 Sting' u'Taurus[3]' u'Tu-134' u'Tu-144' u'Tu-154'
 u'Tu-204 / Tu-214' u'Turbo Commander' u'V' u'Virus[3]' u'Y12' u'YS-11'
 u'Yak-40' u'Yak-42']

Now save the dataset for a later re-use:

In [13]:
df2.to_csv("../data/aircrafts_codes.csv", encoding='utf-8')